@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
}
header .line {
   background-color: #117050;
   height: 10px;
}
.container {
   max-width: 1140px;
   margin: auto;
}
.bar {
   background-color: #006341;
   width: 168px;
   height: 22px;
}
h1 {
   font-family: 'Oswald', sans-serif;
   font-size: 90px;
   font-weight: bold;
   line-height: 100px;/*Para voce alterar a distanciamento entre as linhas das palavras que esta muito grande*/
   margin: 0;
   margin-bottom: 35px;
}
h2 {
   font-family: 'Oswald', sans-serif;
   font-size: 30px;
   font-weight: bold;
   line-height: 45px;
   margin: 20 0;
}
.button {
   text-decoration: none;
   border:  2px solid #454545;
   display: inline-block; /*Coloca um display inline-block no botão para poder colocar um padding nele*/
   padding: 10px 30px;
   border-radius: 3px;
   color: #454545;
}
.button:hover {
   color: #ffffff;
   background-color: #454545;
}
.header--area {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}

.header--left img{
   width: 64px;
   height: 64px;
}
.header--right {
   display: flex;
   align-items: center;
}
.header--search form {
   display: flex;
}
.header--search input {
   font-size: 16px;
   padding: 10px 13px;
   border: 1px solid #999999;
   outline: 0;
   width: 100%;
   max-width: 220px;
   padding-right: 25px;
}
.header--search button {
   border: 0;
   background-color: transparent;
   margin-left: -27px; /*Coloca uma margin negativo para que o botão da lupa entre para dentro do campo de pesquisa search*/
   cursor: pointer;
}
.header--search button img {
   width: 16px;
   height: 16px;
}
.header--menu {
   margin-left: 50px;
   cursor: pointer;
}
.header--menu img {
   width: 24px;
   height: 24px;
}

.banner {
   background-image: url(../images/bg.jpg); /*Para que o background image apareca voce tem que usar com mais 2 propriedades para que apareca na tela certinho o background position e o background size*/
   background-position: center; /*Para ficar centralizada*/
   background-size: cover; /*Para pegar a area disponivel*/
   padding-top: 90px;
   padding-bottom: 90px;
}
.banner--images {
   margin-top: 60px;
}
.banner--images img {
   width: 148px;
   height: 148px;
   border: 6px solid #117050;
   border-radius: 50%;
   margin-right: 40px;
}

.area1 {
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
.area1--content{
   padding: 80px;
}
.area1--quote {
   margin-bottom: 30px;
}
.area1--text {
   margin-bottom: 50px;
   line-height: 25px;
}
.area1--img1 {
   background-color: green;
   height: 350px;
   background-image: url(../images/f2.jpg);
   background-size: cover;
   background-position: center;
}
.area1--img2 {
   grid-column: 2/ 3;
   grid-row: 1/3;
   background-image: url(../images/f1.jpg);
   background-size: cover;
   background-position: center;
}


.area2 {
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
.area2--content{
   padding: 80px;
}
.area2--text {
   margin-bottom: 50px;
   line-height: 25px;
}
.area2--img1 {
   background-color: green;
   height: 450px;
   background-image: url(../images/f4.jpg);
   background-size: cover;
   background-position: center;
}
.area2--img2 {
   grid-column: 1/ 2;
   grid-row: 1/3;
   background-image: url(../images/f3.jpg);
   background-size: cover;
   background-position: center;
}

.area3 {
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
.area3--content{
   padding: 200px 80px;
   background-image: url(../images/bg2.jpg);
   background-size: cover;
   background-position: left;
}
.area3--text {
   margin-bottom: 50px;
   line-height: 25px;
}
.area3--img1 {
   background-image: url(../images/f5.jpg);
   background-size: cover;
   background-position: center;
}

.area4 {
   display: grid;
   grid-template-columns: 450px 1fr;
   background-color: #e8e9ee;
}
.area4--content {
   padding: 150px 80px;
}
.area4--text {
   margin-bottom: 50px;
   line-height: 25px; 
}
.area4--img1 {
   background-image: url(../images/bg3.jpg);
   background-position: left;
}

.area5 {
   background-image: url(../images/bg4.jpg);
   background-size: cover;
   background-position: center;
   height: 600px;
}

footer {
   background-color: #333;
   color: white;
   padding: 80px;
   text-align: center;
}

@media (min-width: 769px) and (max-width: 1140px) {
   .container { /*Como o conteudo vai colar na tela quando a tela chegar a 1140px o container vai criar um padding para descolar o conteudo da tela*/
      padding-left: 20px;
      padding-right: 20px;
   }
}

@media (min-width: 426px) and (max-width: 768px) { /*Agora com a tela de 768px que seria a tela de um tablet*/
   .container {
      padding-left: 20px;
      padding-right: 20px;
   }
   /*Quando chegar na tela de 768px alem de conter os padding do outro media anterior , agora ele vai alterar os tamanhos das imagens e os conteudos fazendo com que a coluna do conteudo fique com 3fr de espaço disponivel . sendo a coluna da imagem fique com 2fr que fica mostrando menos da foto e mais do conteudo .*/
   .area1, .area3 {
      grid-template-columns: 3fr 2fr;
   }
   .area2 {
      grid-template-columns: 2fr 3fr;
   }
}

@media (max-width: 425px) { /*Agora com a tela de 425 que seria de um dispositivo movel*/
   .container {
      padding-left: 20px;
      padding-right: 20px;
   }
   /*Voce comeca fazer uma alteração na barra de input la do header voce diminui o tamanho dela.*/
   .header--search input {
      max-width: 80px;
   }
   /*Voce pode diminuir o espacamaneto da barra de texto do input para o botão de menu voce diminui o margin dela*/
   .header--menu {
      margin-left: 20px;
   }
   /*Voce diminui o tamanho das fontes do seus titulos h1*/
   h1 {
      font-size: 50px;
      line-height: 50px;
   }
   /*Diminui o tamanho da fonte dos h2 tambem*/
   h2 {
      font-size: 25px;
      line-height: 30px;
   }
   /*Altera o tamanho das imagens do banner para que fique os 3 um lado a lado do outro na tela celular menor de 320px*/
   .banner--images img {
      width: 70px;
      height: 70px;
      border: 3px solid #117050;
      border-radius: 50%;
      margin-right: 10px;
   }
   /*Agora quando a tela estiver pequena , não vai ter como aparecer nas areas que tem 2 colunas , agora terão que ter somente 1 coluna só , somente a coluna do conteudo , a coluna da foto não vai ter mais . E tem que tirar os padding dos conteudos , se não os conteudos ficarão muito espremido*/
   .area1,
   .area2,
   .area3,
   .area4 {
      grid-template-columns: 1fr;
   }
   .area1--content,
   .area2--content,
   .area3--content,
   .area4--content {
      padding: 40px;
   }
   .area5 {
      height: 200px;
   }
   footer {
      font-size: 12px;
      padding: 40px 20px;
   }
}