* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Voce precisa separa o css de interface  do css espeçifico de cada area . Para melhor organização do seu layout do css */
/*Css de interfaçe  */

body {
   font-family: 'Montserrat' , Arial, Helvetica, sans-serif;
   overflow-x: hidden; /*Aqui diz que todo o conteudo que for ultrapassado na horizontal vai ser ignorado  */
}
header {
   height: 100px;
   background-color: black;
   color: white;
}
.header {
   max-width: 1140px;
   height: 100px;
   margin: auto;
   display: flex;
   align-items: center;
}
.logo {
   width: 100px;
}
.logoimg {
   width: 80px;
   height: 80px;
   background-color: #b28756;
   border-radius: 40px;
}

.menu {
   flex: 1;
   display: flex;
   justify-content: flex-end;
}
.menu ul, .menu li {
   list-style: none;
}
.menu ul {
   display: flex;
}
.menu li a {
   color: white;
   text-transform: uppercase;
   font-weight: 600;
   text-decoration: none;
   padding-left: 8px;
   padding-right: 8px;
   height: 100px;
   display: flex; /*Para fazer o hover nos links na tag A , esta tag por padrão vem com a propriedade display-inline , então voce ali no css na tag a tem que colocar um display flex com align itens center se caso voce quiser o conteudo centralizado para que voce faça um efeito de borda no canto em baixo do link como esta neste site a hora que voce passar o mouse em cima  */
   align-items: center;
   border-bottom: 5px solid black; /*voce tem que aplicar 1 borda da cor do fundo aqui no caso o preto , pois com a função hover o conteudo vai dar uma pulada , então voce ja coloca 1 borda para evitar isto */
}
.menu li a:hover, .menu .active a {
   border-bottom: 6px solid #b28756;
   color: #ccc;
}

.banner {
   height: calc(100vh - 100px); /* Voce tem que fazer o banner do tamanho da tela do usuario , então voce usa 100vh para ser 100% do tamanho da tela do usuario, mais se for so assim voce vai criar 1 barra de rolagem por causa do cabeçalho , então voce usa a função calc para calcular 100vh da tela menos os 100px que é a altura do cabeçalho , ai fica certinho sem barra de rolagem */
   background-color: rgb(104, 104, 104);
   background-image: url(../images/bg.jpg);
   background-size: cover; /*Com o background cover ele vai ajustar o tamanho do background imagem de forma que ela preencha todo o espaço   */
   background-position: bottom; /*Usando o background position ele vai priorizar a imagem no caso do bottom a parte de baixo */
   overflow: hidden; /*Com o overflow hidden tudo que passar do tamanho do meu banner ele simplesmente vai ignorar  */
}
.banner .sliders {
   height: 100%; /*Altura do sliders tambem é 100% para pegar toda a area disponivel*/
   width: 1000vw; /*Então digamos que o sliders suporta até 10 sliders e cada slider é 100% da viewport então 100x 10 é 1000 por isso 1000vw que equivale a 10 slider de 100vw */
   
}
.banner .slide {
   width: 100vw; /*Ja que cada slider vai ocupa toda a largura da tela então usa ele 100 de viewport para que ele caiba todo na tela do dispositivo do usuario , tanto computador quanto mobile */
   height: 100%; /*Altura do sliders é 100% */
   display: inline-block; /* Usando o display inline block para ficar um slider ao lado do outro  , o inline para ele ficar um slider ao lado do outro , e o block para que ele mantenhas as suas proporções do width e height padrão como especifico ali acima que a gente setar aqui*/
   background-color: rgba(0,0,0,0.7); /* Voce coloca um background meio transparente escuro para que apareca o fundo mais escuro para poder destacar o slider que vai ser jogado acima*/
}
.banner .slidearea {
   display: flex;
   flex-direction: column;
   height: 100%;
   align-items: center;
   justify-content: center;
   color: white;
}
.banner h1 {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 60px;
}
.banner h1 span {
   color: #b28756;
}
.banner h2 {
   text-transform: uppercase;
   margin-top: 20px;
}
.button{
   display: inline-block;
   text-decoration: none;
   background-color: #b28756;
   color: white;
   text-transform: uppercase;
   font-size: 17px;
   font-weight: 600;
   padding: 10px 30px;
   margin-top: 30px;
   border-radius: 20px;
}
.banner .sliders-area-pointers { 
   width: 100vw; /*Primeiro ele vai pegar a area inteira de largura pois não sabe quantos pointers vão , pois esta é a area dos pointer  */
   height: 20px; /* Aqui voce define um tamanho maximo para que cada pointer tenha  */
   position: absolute; /*Para poder aparecer na tela  , ele ira aparecer abaixo do banner*/
   margin-top: -50px; /*Voce usa um margin negativo para ele poder aparecer dentro do banner no caso dele subir um pouco para dentro do banner */
   display: flex; /*Voce usa o display flex para colocar todo os pointer centralizado */
   justify-content: center;
   align-items: center;
   /*Agora que voce crio a area e posiciono onde ficaria a area dos pointers agora é só acrescentando os pointers dentro desta div agora */
}
.banner .pointer { /*Todos os pointers ele tem bordas , e o ativo ele tem borda e fundo . Caso o primeiro slider vai aparecer o fundo  na primeira bolinha , e o segundo slider , vai ter fundo na segunda bolinha ... */
   width: 20px;
   height: 20px;
   border: 2px solid #b28756;
   border-radius: 10px;
   margin-left: 5px;
   margin-right: 5px;
   cursor: pointer;
}
.banner .pointer.active {
   background-color: #b28756;
}

/*Agora voce vai montar a estrutura padrão das section que vai ser ultilazada em todas as section para reutilizalas usando classes */
.default {
   padding-top: 50px;
   padding-bottom: 50px;
}
.default .section-title, .default .section-desc {
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
}
.default .section-title {
   font-size: 20px;
}
.default .section-desc {
   font-size: 13px;
   color: #ccc;
   margin-top: 10px;
   margin-bottom: 40px;
}
.default .section-body {
   margin: auto;
   max-width: 1140px;
}

/*Agora voce vai aplicar as cores light e dark em class ja pre estabelecidas , para voce usar junto com a class default. */
.default.light {
   background-color: #f7f7f7;
}
.default.light .section-title, .default.light .section-body {
   color: black;
}
.default.dark {
   background-color: black;
}
.default.dark .section-title, .default.dark .section-body{
   color: white;
}





/*Css de areas espeçificadas \/ */

.section-aboutus {
   display: flex;
}
.section-aboutus--left { 
   flex: 1; /*Aqui pode colocar flex 1 para fora o tamanho da tela de video , a section da esquerda com o flex 1 ele vai pegar o restante do espaço para o conteudo dele */
}
.section-aboutus--left p {
   font-size: 14px;
   line-height: 25px;
}
.section-aboutus--right { /*Aqui é a area que vai ficar o video , portanto tem que por um tamanho fixo para a tela do video */
   width: 520px;
   text-align: center /*Coloquei esse atributo para colocar ao centro da div a imagem que coloquei como um tamanho menor que  o  width de 520 para da um espaçamento da imagem para o texto ao lado */
}
.section-aboutus--right img {
   width: 480px; /* Voce pode colocar o width 100% para ficar o tamanho total da div dentro dela ,mais eu coloquei um tamanho fixo 480px  para para que a imagem fica com um espaçamanto maior do texto que esta ao lado esquerdo*/
   box-shadow: 0px 5px 10px #333;
}



.section-services {
   display: flex;
}
.section-service {
   flex: 1;
   text-align: center;
   border-right: 1px solid #333;
   padding: 15px;
}
.section-service:first-child { /*Como as bordas do section services voce coloca somente as bordas ao lado direito , voce usa o first child para aplicar a borda na no primeiro filho (ou seja primeira div )  ele aplica os efeito abaixo , que no caso seria a bordas da esquerda*/
   border-left: 1px solid #333;
}
.section-service h4 {
   margin-top: 20px;
   text-transform: uppercase;
   font-size: 18px;
}
.section-service p {
   margin-top: 10px;
   font-size: 13px;
   color: #999;
}


.section-projects {
   display: flex; /*Um ponto de usar o display flex aqui , é porque eu precisei colocar o filtro dessa section no centro da tela , e eu não consegui usando o margin auto, então eu usei o display flex com o align items center para centralizar o conteudo */
   flex-direction: column;
   align-items: center;
}
.section-projects--filtrers {
   border: 1px solid #999;
   background-color: #eee;
   border-radius: 30px;
   display: inline-block; /* Para que o conteudo fique do tamanho correto o filtro , e não fique com a largura ate o final da linha, ele vai ter o tamanho do conteudo dentro */
   padding: 0px 20px; /*Voce usa um padding aqui , para que o conteudo do filtro de um respiro apenas nos cantos de cada li, ai voce da o padding aqui , que ele vai dar o padding na div pai do ul e li . */
   
}
.section-projects--filtrers ul,
.section-projects--filtrers li {
   list-style: none;
}
.section-projects--filtrers li {  /*Aqui voce vai fazer a configuração de cada li do filtro */
   display: inline-block /*Para voce colocar todos os li da lista que vai fazer o filtro . Voce usa o display inline-block , para que fique tudo um ao lado do outro na mesma linha  */;
   padding: 10px;
   text-transform: uppercase;
   font-size: 13px;
   border-left: 1px solid #ccc;
   color: #555;
   border-bottom: 3px solid #eee ; /*Voce cria uma borda da cor do fundo que seria o #eee , e voce cria um hover para que ao passar o mouse em cima ele mude de cor, e não de um salto no conteudo , por isso voce coloca uma borda invisivel aqui , e faz o hover somente para alterar a cor desta borda invisivel   */
}
.section-projects--filtrers li:hover, 
.section-projects--filtrers li.active{ /*Aqui voce coloca uma class active em um dos itens para que ja fique um item ja selecionado e ja passando o atributo da borda ja aparecendo , voce coloca junto com o hover , pois tem o mesmo atributo , voce coloco junto para poupar codigo */
   border-bottom: 3px solid #b28756;
   cursor: pointer;
} 
.section-projects--filtrers li:first-child {
   border-left: 0; ; /*Voce usa o border 0 para cancelar a borda que voce coloco , como ali acima voce coloco bordas em todas as bordas do lado esquerdo , normalmente a primeira tag li fico com uma borda , e para tirar voce usa o first child para alterar o conteudo dela e usa border left tbm e passa o atributo 0 para cancelar a borda */
}

.section-projects--photos { /*Aqui esta é a class onde é o container onde tem as fotos
   1º A gente tem que estabelecer um tamanho maximo para esta area aqui usando o width a 100% da tela ou seja 100vw , contudo ele vai ter um tamanho maximo que o tamanho padrão de uma tela é 1140px, voce bota um max para que caso seja um monitor muito grande ele vai dar uma freiada e vai ate o 1140 e não passar disto , mais caso o monitor for menor ele vai usar toda a area da tela no caso o 100% */
   width: 100vw;
   max-width: 1140px;
   margin-top: 20px; /*Só pra ele descolar da parte de cima */
   background-color: tomato;
   display: flex; /*Como vai ser uma do lado da outra voce usa o display flex */
   flex-wrap: wrap; /*Voce usa o flex wrap pra ele quebrar de linha automaticamente quando chegar no final e não caber a foto ou o conteudo no caso se chegar na largura max e não caber ele vai quebrar linha e vai colocar a foto na parte de baixo*/
   justify-content: center; /* Para caso o conteudo se quebra ele mantenha o conteudo sempre no meio */

   /*Fazendo esta configuração no container agora ele esta pronto pra caber os conteudo de foto dentro , ja tem um tamanho max de tela e caso o conteudo for muito grande ele vai limitar a tela em 1140px, tem um display-flex para que o conteudo fique 1 ao lado do outro , junto com o flex-wrapa para quebrar de linha caso a foto chege na largura max e não caiba outra foto ao lado , e o justify content center para que o conteudo da foto esteja sempre no meio ao quebrar de linha*/
}
.section-projects--photo { /*Agora vai ser a propriedade de cada foto 
   1º O tamanho tem que ser 1 tamanho fixo , vou colocar o tamanho de 280px de largura , ele vai caber na tela de um celular, e em um monitor maior ele ira caber algumas fotos 1 ao lado do outro, se caso voce não se agradar com este tamanho voce pode ir alterando o tamanho de acordo com o que voce achar melhor*/
   width: 280px;
}
.section-projects--photoarea {
   margin: 10px; /*Voce vai criar 1 margim para que as fotos não fique coloada na outra, o motivo de voce criar 1 foto area foi este , voce iria colocar 1 margim aqui no foto area para que a foto não fique ao lado 1 do outro ,pois como o conteudo sim iria ficar ao lado 1 do outro , voce crio esta area para isto para dar 1 descolada visualmente nas fotos 1 da outra  . */
   width: 260px; /*Ja que voce coloco a margim dos lados como foi 10 para cada lado voce tem que alterar o tamanho dela aqui para 20px a menos que seria referente ao margim */
   height: 160px; /*E aqui voce coloca tambem 1 altura padrão , mais caso voce queira maior voce pode ir alterando até achar 1 que voce goste mais */
}
.section-projects--photoarea img { /*Agora voce vai fazer alterações na propria foto que esta dentro do foto area */
   width: inherit; /* voce tambem pode colocar o inherit , que ele vai herda o width do item anterior que seria o width do foto area 260, melhor para que voce não precise ficar colocando numero toda hora */
   height: inherit; /*Altura inherit tambem para herdar do item anterior tambem */
}
.section-projects--photoinfo {/*O foto info tem que ficar acima da foto */
   position: absolute; /*Para que ele fique por cima da foto coloca um position absolute */
   background-color: rgba(0, 0, 0, 0.5); /*Voce coloca um background com rgba com uma opacidade preta  */
   width: inherit; /*Mesma coisa que no img voce coloca inherit para ele herda as propriedade do item anterior que seria o photo area . Voce vai fazer a mesma coisa tambem para a altura */
   height: inherit;
   /*Agora voce vai colocar as propriedades para colocar as informações de texto dentro usando o display none para que ele nao apareca mas sim que depois quando voce fizer o hover ele altera o display none para flex quando o usuario passar o mouse na foto . justify e align items center para a mensagem ficar bem ao centro da imagem */
   display: none;
   flex-direction: column; /*Para que os textos fiquem 1 abaixo do outro */
   justify-content: center;
   align-items: center;
   color: white; /* Para alterar a cor pra branco para poder enxergar melhor se não fica todo preto*/
}
.section-projects--photoinfo h5 {
   font-size: 18px;
   font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo { /*Aqui voce vai fazer um efeito hover que quando ele passar o mouse no photo area ele vai aplicar e altera o display none que voce coloca la no photo info , ele vai alterar para display flex assim aparecendo o conteudo da foto que seria o conteudo que esta la no photo info .
Para ativar as propriedade escondidas e assim voce configura tudo na div que voce quer , e deixa ela como display none para não aparecer, depois voce  vai la na div pai desta que seria o photoarea , e la voce coloca um hover que vai ser aplicado somente na div especifica e depois coloca a div ao lado . que seria a div que voce configuro tudo e deixo como display none, e dentro dela voce somente altera para aparecer na tela ao passar o mouse usando ou display block , ou display flex se tiver um conteudo 1 ao lado do outro ou 1 abaixo do outro  */
   display: flex;
}


.bg-team{ /*Esta é a class que voce vai configurar pra usar junto com  a section em especifico la naquela section que tem os slides com 3 itens voce vai criar um fundo com a imagem para usar junto com a section dark */
   background-image: url('../images/bg.jpg');
   background-size: cover;
   background-position: center;
   padding: 0; /*Aqui voce zera o padding para que pegue todo o fundo preto na section ,pois a class dark que voce esta usando junto com esta aqui , la voce tem padding, e pra não mecher na aquela estrutura e altera o conteudo dos outros que estão usando ela , voce altera nesta class aqui o padding no caso zera ela , que em especifico aqui ele vai ter o padding zerado para poder ter o fundo preto todo certinho na imagem do fundo */
}
.section-team-area { /*E nesta div que voce modifico e coloco toda a estrutura dentro aqui voce coloca um rgba com opacidade mais escuro , pra escurecer a imagem */
   background-color: rgba(0, 0, 0, 0.8);
   padding-top: 50px; /*Como a section dark tem um padding então o efeito opacidade não vai ficar na imagem toda então voce pode dar um padding aqui tambem tanto pro top quanto para o bottom , para que fique igualzinho como esta na section dark */
   padding-bottom: 50px;
   /*E depois voce vai la na class bg-team que voce esta usando junto com a section dark na section do slider com 3 itens que tem o padding de 50 px para cime e para baixo , e voce vai e zera passando o atributo padding 0 */
}
.section-team {
   overflow: hidden;
   max-width: 880px; /*Para que caiba certinho os 3 sliders na tela que são da largura de 280px + 20 da margim entre eles vai dar um totaç de 900px , mais como não quer que apareca a margim do terceiro para o quarto item voce diminui essa margim com -20px que da um 880px voce estipula este valor como max , e o restante voce esconde com o overflow hidden , ai ele só vai mostrar 3 certinho*/
   margin: auto; /*Ai voce utiliza o margim auto para alinhar estes itens no centro da tela */
}
.section-team .sliders {
   height: 100%;
   width: 1000vw; 
   
}
.section-team .slide {
   width: 280px; 
   height: 100%;
   min-height: 300px; /*Bota um tamanho minimo para crescer o conteudo dentro */
   display: inline-block; 
   background-color: white;
   margin-right: 20px; /*Bota um margim para separar um do outro */
}
.section-team .slidearea {
   display: flex;
   flex-direction: column;
   height: 100%;
   align-items: center;
   justify-content: center;
   color: black;
   padding: 30px; /*Coloco um padding aqui para que todo o conteudo dentro do slider tenha um espaçamento em volta */
}
.section-team-area .sliders-area-pointers { 
   margin-top: 30px; /*Antes tinha a propriedade 100vw ,voce substituiu por um margin top para que tirarsse toda a largura da tela e ficasse do tamanho normal , e um margim pra descolar dos sliders */
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.section-team-area .pointer { 
   width: 20px;
   height: 20px;
   border: 2px solid #b28756;
   border-radius: 10px;
   margin-left: 5px;
   margin-right: 5px;
   cursor: pointer;
}
.section-team-area .pointer.active {
   background-color: #b28756;
}
.section-team--avatar {
   width: 150px;
   height: auto;
}
.section-team--name {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 17px;
   margin-top: 30px;
}
.section-team--role {
   font-size: 14px;
   color: #999;
   margin-top: 5px;
}
.section-team--social {
   display: flex;
   margin-top: 20px;
}
.section-team--social a {
   display: inline-flex; /*Para que consiga colocar um tamanho melhor nele */
   justify-content: center;
   align-items: center;
   width: 25px;
   height: 25px;
   background-color: #ccc;
   border-radius: 13px; /*Para fazer 1 circulo como um icone redondo , voce tem que colocar o border radius metade do tamanho do  tamanho da imagem*/
   margin-right: 10px;
}
.section-team--social a:hover {
   background-color: #b28756;
}



.padding {
   padding: 0%;
   
}
.fundo-cinza {
   background-color: rgb(245, 244, 244);
   display: flex;
   flex-direction: column;
   max-width: 1140px;
   margin: auto;
}
.section-title-happy {
   text-align: center;
   margin-top: 30px;
   font-size: 25px;
   font-weight: bold;
   text-transform: uppercase;
}
.section-desc-happy {
   text-align: center;
   margin-top: 10px;
   text-transform: uppercase;
   color: rgb(117, 117, 117);
}
.fundo-cinza .section-body {
   padding-top: 25px;
   display: flex;
   flex-direction: column;
   margin: auto;
   justify-content: center;
   align-items: center;
   padding-bottom: 25px;
}
.homem2 {
   padding-top: 20px;
   width: 100px;
   height: auto;
}
.fundo-cinza .section-body h3 {
   padding-top: 15px;
   font-size: 22px;
   font-weight: bolder;
}
.fundo-cinza .section-body h4 {
padding-top: 4px;
font-size: 16px;
}
.quote {
   width: 30px;
   height: auto;
   padding-top: 15px;
   padding-bottom: 15px;
}
.fundo-cinza .section-body p {
   width: 500px;
   height: auto;
   text-align: center;
}
.fundo-cinza .section-body .sliders-area-pointers { 
   margin-top: 30px; /*Antes tinha a propriedade 100vw ,voce substituiu por um margin top para que tirarsse toda a largura da tela e ficasse do tamanho normal , e um margim pra descolar dos sliders */
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.fundo-cinza .section-body .pointer { 
   width: 20px;
   height: 20px;
   border: 2px solid #b28756;
   border-radius: 10px;
   margin-left: 5px;
   margin-right: 5px;
   cursor: pointer;
}
.fundo-cinza .section-body .pointer.active {
   background-color: #b28756;
}

.white {
   background-color: white;
}
.section-icons {
   display: flex;
   justify-content: space-around;
}
.section-icons a {
   flex: 1;
   margin-left: 30px;
}


.fundo-cinza2 {
   background-color: rgb(230, 230, 230);
   display: flex;
   flex-direction: column;
   max-width: 1140px;
   margin: auto;
}
.fundo-cinza2 .section-body {
   display: flex;
   margin-top: 30px;
   margin-bottom: 50px;
}
.table-price {
   background-color: white;
   width: 200px;
   height: auto;
   padding: 20px;
   margin-right: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.table-price h4 {
   text-transform: uppercase;
   font-weight: bolder;
}
.table-price h2 {
   padding-top: 8px;
}
.table-price p{
   font-size: 12px;
   color: #aaa;
   padding-bottom: 10px;
}
.table-price h6 {
   color: #555;
}
.traco {
   margin-top: 5px;
   margin-bottom: 5px;
   width: 10px;
   height: 2px;
   background-color: #333;
}
.table-price a {
   width: auto;
   height: 0;
   margin-bottom: 60px;
   
}
.table-price .button{
   display: inline-block;
   text-decoration: none;
   background-color: black;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 600;
   padding: 10px 30px;
   border-radius: 20px;
}

.table-price .button:hover {
   background-color: #b28756;
}