* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat' , Arial, Helvetica, sans-serif;
}
header {
   height: 100px;
   background-color: black;
   color: white;
}
.header {
   max-width: 1140px;
   height: 100px;
   margin: auto;
   display: flex;
   align-items: center;
}
.logo {
   width: 100px;
}
.logoimg {
   width: 80px;
   height: 80px;
   background-color: #b28756;
   border-radius: 40px;
}

.menu {
   flex: 1;
   display: flex;
   justify-content: flex-end;
}
.menu ul, .menu li {
   list-style: none;
}
.menu ul {
   display: flex;
}
.menu li a {
   color: white;
   text-transform: uppercase;
   font-weight: 600;
   text-decoration: none;
   padding-left: 8px;
   padding-right: 8px;
   height: 100px;
   display: flex; /*Para fazer o hover nos links na tag A , esta tag por padrão vem com a propriedade display-inline , então voce ali no css na tag a tem que colocar um display flex com align itens center se caso voce quiser o conteudo centralizado para que voce faça um efeito de borda no canto em baixo do link como esta neste site a hora que voce passar o mouse em cima  */
   align-items: center;
   border-bottom: 5px solid black; /*voce tem que aplicar 1 borda da cor do fundo aqui no caso o preto , pois com a função hover o conteudo vai dar uma pulada , então voce ja coloca 1 borda para evitar isto */
}
.menu li a:hover, .menu .active a {
   border-bottom: 6px solid #b28756;
   color: #ccc;
}

.banner {
   height: calc(100vh - 100px); /* Voce tem que fazer o banner do tamanho da tela do usuario , então voce usa 100vh para ser 100% do tamanho da tela do usuario, mais se for so assim voce vai criar 1 barra de rolagem por causa do cabeçalho , então voce usa a função calc para calcular 100vh da tela menos os 100px que é a altura do cabeçalho , ai fica certinho sem barra de rolagem */
   background-color: rgb(104, 104, 104);
   background-image: url(../images/bg.jpg);
   background-size: cover; /*Com o background cover ele vai ajustar o tamanho do background imagem de forma que ela preencha todo o espaço   */
   background-position: bottom; /*Usando o background position ele vai priorizar a imagem no caso do bottom a parte de baixo */
   overflow: hidden; /*Com o overflow hidden tudo que passar do tamanho do meu banner ele simplesmente vai ignorar  */
}
.banner .sliders {
   height: 100%; /*Altura do sliders tambem é 100% para pegar toda a area disponivel*/
   width: 1000vw; /*Então digamos que o sliders suporta até 10 sliders e cada slider é 100% da viewport então 100x 10 é 1000 por isso 1000vw que equivale a 10 slider de 100vw */
   
}
.banner .slide {
   width: 100vw; /*Ja que cada slider vai ocupa toda a largura da tela então usa ele 100 de viewport para que ele caiba todo na tela do dispositivo do usuario , tanto computador quanto mobile */
   height: 100%; /*Altura do sliders é 100% */
   display: inline-block; /* Usando o display inline block para ficar um slider ao lado do outro  , o inline para ele ficar um slider ao lado do outro , e o block para que ele mantenhas as suas proporções do width e height padrão como especifico ali acima que a gente setar aqui*/
   background-color: rgba(0,0,0,0.7); /* Voce coloca um background meio transparente escuro para que apareca o fundo mais escuro para poder destacar o slider que vai ser jogado acima*/
}
.banner .slidearea {
   display: flex;
   flex-direction: column;
   height: 100%;
   align-items: center;
   justify-content: center;
   color: white;
}
.banner h1 {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 60px;
}
.banner h1 span {
   color: #b28756;
}
.banner h2 {
   text-transform: uppercase;
   margin-top: 20px;
}
.banner a {
   display: block;
   text-decoration: none;
   background-color: #b28756;
   color: white;
   text-transform: uppercase;
   font-size: 17px;
   font-weight: 600;
   padding: 10px 30px;
   margin-top: 30px;
   border-radius: 20px;
}
.banner .sliders-area-pointers { 
   width: 100vw; /*Primeiro ele vai pegar a area inteira de largura pois não sabe quantos pointers vão , pois esta é a area dos pointer  */
   height: 20px; /* Aqui voce define um tamanho maximo para que cada pointer tenha  */
   position: absolute; /*Para poder aparecer na tela  , ele ira aparecer abaixo do banner*/
   margin-top: -50px; /*Voce usa um margin negativo para ele poder aparecer dentro do banner no caso dele subir um pouco para dentro do banner */
   display: flex; /*Voce usa o display flex para colocar todo os pointer centralizado */
   justify-content: center;
   align-items: center;
   /*Agora que voce crio a area e posiciono onde ficaria a area dos pointers agora é só acrescentando os pointers dentro desta div agora */
}
.banner .pointer { /*Todos os pointers ele tem bordas , e o ativo ele tem borda e fundo . Caso o primeiro slider vai aparecer o fundo  na primeira bolinha , e o segundo slider , vai ter fundo na segunda bolinha ... */
   width: 20px;
   height: 20px;
   border: 2px solid #b28756;
   border-radius: 10px;
   margin-left: 5px;
   margin-right: 5px;
   cursor: pointer;
}
.banner .pointer.active {
   background-color: #b28756;
}