* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    width: 100%;
    display: grid;
    
    grid-template-areas: "left left left left right right right"
    
}
.leftside {
    grid-area: left;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 500px;
    height: auto;
}
.rightside {
    grid-area: right;
    max-width: 100%;
    background-color: #ccc;
    padding: 30px;
    
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
input {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    font-size: 13px;
    outline: 0;
    width: 100%;
    
}

.error {
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

@media (min-width: 751px) and (max-width: 1024px) {
    .container {
       grid-template-columns: repeat(2, 1fr);
    }
 }

 @media (max-width: 750px) {
    .container {
        grid-template-areas:
         "left"
         "right"
         "right"
        ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .leftside img {
        width: 100%;
    }
    .rightside {
        max-width: 80%;
    }
    .rightside h1 {
        text-align: center;
        font-size: 24px;
        margin: 0;
        padding-bottom: 5px;
    }
 }