{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}} <hr/>


<fieldset>
    <legend>Novo Usuario</legend>
    <form method="POST" action="/novousuario">
        <input type="text" name="nome" placeholder="Digite um nome"/><br/><br/>
        <input type="text" name="age" placeholder="Digite a idade"/><br/><br/>
        <input type="submit" value="Inserir novo Usurario"/>
    </form>
</fieldset>

<br/>
<h2>Usuarios do banco</h2>
<ul>
    {{#users}}
        <li>
         {{nome}}
         - Idade: {{age}}
         - <a href="/usuario/{{id}}/mais">+</a>
         | <a href="/usuario/{{id}}/menos">-</a>
         | <a href="/usuario/{{id}}/excluir"> Remover </a>
        </li> 
    {{/users}}
</ul>


<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}