* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   background-color: grey;
   display: grid;
   grid-template-columns:repeat(3, minmax(100px, 150px));
   gap: 10px 30px;
   justify-content: space-between;
}
.item {
   background-color: tomato;
   border-radius: 10px;
   padding: 20px;
   color: white;
   font-size: 20px;
}