* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   background-color: grey;
   display: grid;
   gap: 10px;
   grid-template-areas: 
      "item1 item1 item2"
      "item3 . item2"
      "item4 item4 item4"
   ;
}
.item {
   background-color: tomato;
   border-radius: 10px;
   padding: 20px;
   color: white;
   font-size: 20px;
}
.item1 {
   grid-area: item1;
}
.item2 {
   grid-area: item2;
}
.item3 {
   grid-area: item3;
}
.item4 {
   grid-area: item4;
}

















/*
.item1 {
   grid-column-start: 1;
   grid-column-end: 4;
}
.item3 {
   grid-column-start: 2;
   grid-column-end: 4;

   grid-row-start: 2;
   grid-row-end: 5;
}
.item8 {
   grid-column-start: 3;
   grid-column-end: 4;

   grid-row-start: 5;
   grid-row-end: 7;
}*/