* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   background-color: grey;
   display: grid;
   grid-template-columns:repeat(3, minmax(150px, 180px));
   gap: 10px;
   justify-content: center;
}
.item {
   background-color: tomato;
   border-radius: 10px;
   padding: 20px;
   color: white;
   font-size: 20px;
}
.item1 {
   grid-column: 1 / span 3;
   grid-row: 1 / span 3;
}
.item10 {
   grid-column: 1/ span 3;

}




















/*
.item1 {
   grid-column-start: 1;
   grid-column-end: 4;
}
.item3 {
   grid-column-start: 2;
   grid-column-end: 4;

   grid-row-start: 2;
   grid-row-end: 5;
}
.item8 {
   grid-column-start: 3;
   grid-column-end: 4;

   grid-row-start: 5;
   grid-row-end: 7;
}*/