body {
    margin: auto;
}
header {
    display: flex;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #A9A9A9;
    align-items: center;
    height: auto;
}
.nome {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
}
.text {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 20px;
}

#sec_foto {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
}
.foto {
    background-color: whitesmoke;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 10px;
    margin: 10px;
    background-color: whitesmoke;
}
.foto img {
    width: 100%;
    height: 100%;
}

.container_foto {
    width: 98%;
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frase_foto {
    padding-bottom: 15px;
}

#conteudo_site {
    background-color: #A9A9A9;
    width: auto;
    height: auto;
}
.conteudo_biografia {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;

}
.biografia {
    flex: 1;
    color: whitesmoke;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 40px;
}
.descricao_biografia {
    flex-direction: column;
    height: 100px;
    display: flex;
    width: 100%;
    height: auto;
    

}
.conteudo_bio {
    display: flex;
    flex-direction: column;

}
li {
    color: whitesmoke;
    font-size: 17px;
}

.rodape {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-left: calc(20px);
}
.conteudo_rodape {
    text-align: justify;
    padding-bottom: 20px;

}
.wikpedia {
    font-weight: bolder;
    font-size: 19px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.barra {
    height: 1px;
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 5px;
}
.credito {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}