body {
    display: flex;
}

div {
    width: 100px;
    height: 100px;
    border: 3px solid black;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}