:root {
   --bg-color: #fff; 
   --bg-second: #ccc;
   --font-color: #f00;
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--font-color), #00f;
}

.container {
    background-color: var(--bg-second);
    color: var(--font-color);
}