
div {
   width: 100px;
   height: 100px;
   margin:auto;
   background-color: red;
   position: fixed;
   right: 50%;
   bottom: 50%;
   
}

div:hover {
   width: 100px;
   height: 100px;
   margin:auto;
   background-color: blue;
   transform: rotateY(180deg);
   transition: 1s;
   text-align: center;
}