header {
    font-family: "Oswald"; 
    text-align: center;
    background-image:linear-gradient(to top, rgba(0, 128, 0, 0.822), rgba(3, 185, 3, 0.74), rgba(77, 192, 77, 0.836)) ;
    color: rgba(245, 245, 245, 0.842); 
}

nav {
    text-align: left;
    padding: 10px;
    margin-right: 8px;
}
body {
    background-color: rgba(15, 231, 15, 0.726);
}
main {
    background-color: white;
    text-align: center;
    width: 500px;
}