{{! Criando conteudo parcial onde somente coloco o conteudo que preciso para ser replicado em varios lugares do meu site e uso eles como se fosse um componente do react, para melhorar a manutenção do codigo. }}
<html>
    <head>
        <title>Pagina Home</title>
    </head>
    <body>
        <h1>Titulo da pagina</h1>
        <hr/>