{{>partials/header}}

<fieldset>
    <legend>Adicionar Novo Usuario</legend>
    <form method="post" action="/novo-usuario">
        <input type="text" name="firstName" placeholder="Digite seu nome" /> <br/>
        <input type="text" name="lastName" placeholder="Digite seu sobrenome" /> <br/>
        <input type="email" name="email" placeholder="Digite seu e-mail" /> <br/>
        <input type="text" name="age" placeholder="Digite sua idade" /> <br/>
        <input type="text" name="interests" placeholder="Digite interesses (separados por virgula)" /> <br/>
        <input type="submit" value="Inserir" /> <br/>
    </form>
</fieldset>

<h3>Usuarios</h3>
<ul>
    {{#users}}
        <li>{{name.firstName}} - {{age}} anos</li>
    {{/users}}
</ul>

{{>partials/footer}}