{{! Para usar as informações voce tem que criar 2 objetos um dentro do outro ficando com  o formato de um bigode . e dentro dele podendo usar informações como variavel , e fazendo codigos javascript. }}

<html>
    <head>
        <title>Pagina Home</title>
    </head>
    <body>
        <h1>Titulo da pagina</h1>
        <hr/>

        {{! Fazendo a verificação caso o valor do conteudo showold(que é a variavel boolean de verificação) for true ele mostra o conteudo , caso não ele não mostra. }}
        {{#showOld}}
            opa {{ name }}, tudo bem ? {{ lastName }}
        {{/showOld}}
        

    </body>
</html>