{{! Para usar as informações voce tem que criar 2 objetos um dentro do outro ficando com  o formato de um bigode . e dentro dele podendo usar informações como variavel , e fazendo codigos javascript. }}

<html>
    <head>
        <title>Pagina Home</title>
    </head>
    <body>
        <h1>Titulo da pagina</h1>
        <hr/>
        opa {{ user2.name }}, tudo bem ? {{user2.age}}

    </body>
</html>