@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right , #a4c2d3, #AAB0B5);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #343b4196;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #EEEC00;
    text-align: center;
    text-shadow: 1px 1px 2px #807e008f;

}
h2 {
    color: #DEA800;

}

p {
    text-align: justify;
}