* {
    box-sizing: border-box;
}

table {
    width: 600px;
}

table thead {
    background-color: #ccc;
}

th {
    font-weight: normal;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #eee;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

